[submodule "frontend"]
	path = openstad-frontend
	url = https://github.com/Amsterdam/openstad-frontend
[submodule "api"]
	path = openstad-api
	url = https://github.com/Amsterdam/openstad-api
[submodule "auth"]
	path = openstad-oauth-server
	url = https://github.com/Amsterdam/openstad-oauth2-server
[submodule "image"]
	path = openstad-image-server
	url = https://github.com/Amsterdam/openstad-image-server
[submodule "admin"]
	path = openstad-management-panel
	url = https://github.com/Amsterdam/openstad-management-panel
[submodule "openstad0image-server"]
	branch = development
