[submodule "frontend"]
	path = frontend
	url = https://github.com/Amsterdam/openstad-frontend
[submodule "api"]
	path = api
	url = https://github.com/Amsterdam/openstad-api
[submodule "auth"]
	path = auth
	url = https://github.com/Amsterdam/openstad-oauth2-server
[submodule "image"]
	path = image
	url = https://github.com/Amsterdam/openstad-image-server
[submodule "admin"]
	path = admin
	url = https://github.com/Amsterdam/openstad-management-panel
